{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Условия аренды</title>


    <link rel="shortcut icon" type="image/png" href="{% static "vendor/icon/darkicon.png" %}">


    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <link href="{% static 'vendor/css/aboutshort.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/css/formabout.css' %}" rel="stylesheet">


</head>


<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark " >
    <div class="container" style="color: #213744">
        <a class="navbar-brand" href="{% url 'index' %}">Прокат</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products:index' %}">Каталог <i class="fas fa-shopping-bag"></i> </a>
                </li>
{% if user.is_authenticated %}
                <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user-circle"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'users:profile' %}">Профиль</a>
                        </li>
                        {% if user.is_superuser or user.is_staff %}
                        	<li><a class="dropdown-item" href="{% url 'admin:index' %}">Админ-панель</a></li>
                        {% endif %}
                               <li>
                            <hr class="dropdown-divider">
                        </li>
                                <li>
                            <a class="dropdown-item" href="{% url 'users:logout' %}">
                                Выйти
                            </a>
                        </li>
                    </ul>
                    </li>
                      {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login' %}">Войти <i class="fas fa-sign-in-alt"></i></a></li>
                </li>
{% endif %}
            </ul>
        </div>
    </div>
</nav>


 <h2 style="color: #000000;margin-top: 20px;text-align: center;">Часто задаваемые вопросы</h2>


<section class="custom-section2">

    <div class="container">
        <div id="accordion" class="py-5">
              <div class="card border-0">
                  <div class="card-header p-0 border-0" id="heading-239">
                  <button class="btn btn-link accordion-title border-0 collapse" data-toggle="collapse" data-target="#collapse-239" aria-expanded="true" aria-controls="#collapse-239">
{#                      <i class="fas fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>#}
                      Условия аренды  </button>
                </div>
                <div id="collapse-239" class="collapse show" aria-labelledby="heading-239" data-parent="#accordion">
                    <div class="card-body accordion-body">
                        <p>
<pre> 1. Возраст арендатора более 20 лет
 2. Стаж вождения от 2-х лет
 3. Наличие оригинала паспорта и водительского удостоверения</pre>
                        </p>
                    </div>
                </div>
            </div>
                                    <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            <div class="card-header p-0 border-0" id="heading-240">
                                <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse" data-target="#collapse-240" aria-expanded="false" aria-controls="#collapse-240">
{#                                    <i class="fas fa-minus text-center d-flex align-items-center justify-content-center h-100"></i> #}
                                    Отмена заказа  </button>
                            </div>
                            <div id="collapse-240" class="collapse " aria-labelledby="heading-240" data-parent="#accordion">
                                <div class="card-body accordion-body">
                                    <p>Для возврата денежных средств необходимо связаться с нами по по телефону: +375296666612 или e-mail: info@belcar.by. Отправить письменное заявление (в свободной форме) о возврате денежных средств.
                                        Возврат денежных средств осуществляется на карту, с которой ранее была произведена оплата. Срок поступления денежных средств на карту от 3 до 30 дней с момента осуществления возврата.</p>
                                </div>
                            </div>
                        </div>
                                    <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            <div class="card-header p-0 border-0" id="heading-241">
                                <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse" data-target="#collapse-241" aria-expanded="false" aria-controls="#collapse-241">
{#                                    <i class="fas fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>#}
                                    Может ли использоваться авто несколькими водителями?                      </button>
                            </div>
                            <div id="collapse-241" class="collapse " aria-labelledby="heading-241" data-parent="#accordion">
                                <div class="card-body accordion-body">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                                    <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            <div class="card-header p-0 border-0" id="heading-242">
                                <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse" data-target="#collapse-242" aria-expanded="false" aria-controls="#collapse-242">
{#                                    <i class="fas fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>#}
                                    Дорожные условия?                        </button>
                            </div>
                            <div id="collapse-242" class="collapse " aria-labelledby="heading-242" data-parent="#accordion">
                                <div class="card-body accordion-body">
                                   <p>Автомобиль запрещено использовать при плохих погодных условиях, на дорогах, посыпанных щебнем либо залитых битумом, не использовать для буксировки других транспортных средств, поездок с прицепом, а так же для обучения вождению или для таксомоторных перевозок.</p>
                                </div>
                            </div>
                        </div>
                                    <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            <div class="card-header p-0 border-0" id="heading-243">
                                <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse" data-target="#collapse-243" aria-expanded="false" aria-controls="#collapse-243">
{#                                    <i class="fas fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>#}
                                    Сколько стоит аренда машины?                        </button>
                            </div>
                            <div id="collapse-243" class="collapse " aria-labelledby="heading-243" data-parent="#accordion">
                                <div class="card-body accordion-body">
                                    <p>Стоимость проката автомобиля зависит от класса, марки, типа кузова, количества посадочных мест, срока аренды. Самая дешевая цена за сутки на бюджетные автомашины эконом-класса при оформлении заказа на длительный срок. Для постоянных клиентов действуют скидки! И помните цена — не догма, а только повод для начала разговора.</p>
                                </div>
                            </div>
                        </div>
                                    <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            <div class="card-header p-0 border-0" id="heading-244">
                                <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse" data-target="#collapse-244" aria-expanded="false" aria-controls="#collapse-244">
{#                                    <i class="fas fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>#}
                                    Где можно взять машину напрокат?                        </button>
                            </div>
                            <div id="collapse-244" class="collapse " aria-labelledby="heading-244" data-parent="#accordion">
                                <div class="card-body accordion-body">
                                    <p>Для удобства клиентов компании «Прокат Авто 24» предоставление и возврат автомобилей осуществляется без выходных. После обращения доставим авто по любому адресу в удобное для вас время в пределах Минска и в Национальный аэропорт «Минск-2». Стоимость доставки в регионы оговаривается индивидуально в зависимости от срока аренды и удаленности населенного пункта. Более подробную информацию уточняйте у менеджера</p>
                                </div>
                            </div>
                        </div>
                                    <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            <div class="card-header p-0 border-0" id="heading-245">
                                <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse" data-target="#collapse-245" aria-expanded="false" aria-controls="#collapse-245">
{#                                    <i class="fas fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>#}
                                    Кто платит за штрафы по фотофиксации </button>
                            </div>
                            <div id="collapse-245" class="collapse " aria-labelledby="heading-245" data-parent="#accordion">
                                <div class="card-body accordion-body">
                                    <p>Мы оформляем заявление к каждому договору аренды, в котором указаны точные даты и время начала и окончания аренды и конкретный авто, а так же обязательство, что на время аренды вы обязуетесь принимать на себя всю ответственность (превышение скорости, нарушение правил парковки и прочее) и уплачивать штрафы</p>
                                </div>
                            </div>
                        </div>
                            </div>

                   </div>
    </section>


        <div class="custom-container">
            <div class="row-custom">
                    <h1 style="color: #000000;text-align: center;">Свяжитесь с нами</h1>
            </div>
            <div class="row-custom">
                    <h4 style="color: #000000;text-align: center;">Если у вас остались вопросы!</h4>
            </div>
            <div class="row input-container">
                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            <input type="text" required />
                            <label>Name</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12" style="padding-left: 0;">
                        <div class="styled-input">
                            <input type="text" required />
                            <label>Email</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input" style="padding-right: 0;">
                            <input type="text" required />
                            <label>Phone Number</label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            <textarea required></textarea>
                            <label>Message</label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="btn-lrg submit-btn">Send Message</div>
                    </div>
            </div>
        </div>
     </div>

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


</body>
</html>